<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Course Registration App</title>
</head>

<body>
    <h1>Course Registration App</h1>

    <h3>Create a Student</h3>
    <form action="/create-student" method="get">
        <label for="andrew_id">Andrew ID: </label>
        <input type="text" name="andrew_id">
        <label for="first_name">First Name: </label>
        <input type="text" name="first_name">
        <label for="last_name">Last Name: </label>
        <input type="text" name="last_name">
        <br>
        <input type="submit" text="Create Student">
        {% csrf_token %}
    </form>

    <hr>

    <h3>Create a Course</h3>
    <form action="/create-course" method="get">
        <label for="course_number">Course Number: </label>
        <input type="text" name="course_number">
        <label for="course_name">Course Name: </label>
        <input type="text" name="course_name">
        <br>
        <input type="submit" text="Create Course">
        {% csrf_token %}
    </form>

    <hr>

    <h3>Register a Student for a Course</h3>
    <form action="/register-for-course" method="get">
        <label for="andrew_id">Andrew ID: </label>
        <input type="text" name="andrew_id">
        <br>
        <label for="course_name">Course Name: </label>
        <input type="text" name="course_name">
        <br>
        <input type="submit" text="Register">
        {% csrf_token %}
    </form>

    <hr>

    <h3>List of Students</h3>
    {% for student in students %}
    <ul>
        <li>{{student.first_name}} {{student.last_name}}</li>
    </ul>
    {% endfor %}

    <hr>

    <h3>List of Courses</h3>
    {% for course in courses %}
    <ul>
        <li>{{course.course_number}} {{course.course_name}}</li>
    </ul>
    {% endfor %}

    <hr>

    <h3>List of Courses & Registered Students</h3>
    {% for course in courses %}
    <ul>
        <li>
            {{course.course_number}} {{course.course_name}}
            {% for student in course.students %}
            <ul>
                <li>{{student.first_name}} {{student.last_name}}</li>
            </ul>
            {% endfor %}
        </li>
    </ul>
    {% endfor %}
       

</body>

</html>
