{% extends 'base-template.html' %}
{% block content %}
	{% load myfilters %}
	<div class="container-fluid">
		{% include 'header-template.html' with redirect='home' header_type='side' %}
		<div class="row">
			<div class="col-md-3">
				{% include 'navbar-template.html' with home='active' placeholder='search your grumbls...' search_action='search-home' %}
			</div>

			<div class="col-md-9">
				

				{% include 'post-tools-template.html' %}

				{% include 'pagenav-template.html' %}

				{% for error in errors %}
				<section class="panel panel-default panel-grumblr panel-message">
					<span class="glyphicon glyphicon-exclamation-sign"></span> 
					{{error}}
				</section>
				{% endfor %}

				<section class="posts">
				{% for text_post in text_posts %}

					{% include 'post-template.html' with text_post=text_post user=user %}
					
					{% include 'comment-box-template.html' with comment_forms=comment_forms text_post=text_post user=user %}
				{% endfor %}
				</section>
				
				<!-- <section class="panel panel-default panel-grumblr panel-grumbl grumbl-photo">
					<img src="/static/images/family2.jpg">
					<p>The Belcher family. From left to right: me, Louise, Linda, Tina, and Gene.</p>
					<span class="dislike">♥</span>
				</section> -->
			</div>		
		</div>
	</div>
{% endblock %}