{% extends 'base-template.html' %}
{% block content %}
	{% include 'header-template.html' with redirect='login-register' header_type='main' %}

	<section class="panel panel-default panel-grumblr panel-login-register">
		<div class="forms">
			{% for field in form.visible_fields %}
				{% for error in field.errors %}
					<p class="footnote message error-message">
						{{error}}
					</p>
				{% endfor %}
			{% endfor %}

			{% if reset_message %}
			<p class="footnote message reset-message">
				{{reset_message}}
			</p>
			{% endif %}
			<form action="{% url 'confirm-reset' username token %}" method="post" id="form-reset" class="form-register-login">
				{% for field in form.visible_fields %}
					{{field.label_tag}}

					{% for error in field.errors %}
					<p class="footnote message field-message">
						{{error}}
					</p>
					{% endfor %}

					{{field}}
				{% endfor %}

				{% for field in form.hidden_fields %}
					{{field}}
				{% endfor %}

				{% csrf_token %}
				<input id="submit-reset" class="btn-login-register btn-submit" type="submit" value="Reset Password">
			</form>
		</div>
	</section>
{% endblock %}