<div class="row">
	<div class="col-md-4">
		<a href="{% url 'text-post' %}"><div class="panel panel-default panel-grumblr  panel-tool">
			<span class="glyphicon glyphicon-font"></span>
			<div class="tool-text">+ Text Grumbl</div>
		</div></a>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default panel-grumblr  panel-tool">
			<span class="glyphicon glyphicon-camera"></span>
			<div class="tool-text">+ Image Grumbl</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default panel-grumblr panel-tool">
			<span class="glyphicon glyphicon-facetime-video"></span>
			<div class="tool-text">+ Video Grumbl</div>
		</div>
	</div>
</div>