{% extends 'base-template.html' %}
{% block content %}
	<div class="container-fluid">
		{% include 'header-template.html' with redirect='home' header_type='side' %}
		<div class="row">
			<div class="col-md-3">
				{% include 'navbar-template.html' with stream='active' placeholder='search your stream...' %}
			</div>

			<div class="col-md-9">
				{% include 'pagenav-template.html' %}

				{% for error in errors %}
				<section class="panel panel-default panel-grumblr panel-message">
					<span class="glyphicon glyphicon-exclamation-sign"></span> {{ error }}
				</section>
				{% endfor %}

				{% for text_post in text_posts %}
				<section class="panel panel-default panel-grumblr panel-grumbl panel-grumbl-stream grumbl-text">
					{{ text_post.text }}

					<span class="post-info">Posted by <span class="author"><a href="{% url 'profile' text_post.user.id %}">{{ text_post.user }}</a></span></span>
					<!-- <span class="glyphicon glyphicon-plus"></span> -->
					<span class="comment">
						<a href="{% url 'comment' comment_redirect user.id text_post.id %}">
							<span class="plus">+</span>
						</a> 
						{{text_post.comments.all.count}} comments
					</span>

					<span class="dislike">
						<a href="{% url 'dislike' dislike_redirect user.id text_post.id %}">
							<span class="heart">♥</span>
						</a> 
						{{text_post.dislikes.all.count}} dislikes
					</span>

					<article class="grumbl-author-photo" style="background: url('{% url 'profile-picture' text_post.user.id %}') center center no-repeat; background-size: cover;">
					</article>
				</section>

					{% for comment in text_post.comments.all %} 
						<section class="panel panel-default panel-grumblr panel-grumbl grumbl-text comment-post">
							{{comment}}
							<span class="post-info">Posted by <span class="author"><a href="{% url 'profile' comment.user.id %}">{{ comment.user }}</a></span></span>
						</section>
					{% endfor %}
				{% endfor %}

				<!-- <section class="panel panel-default panel-grumblr panel-grumbl panel-grumbl-stream grumbl-photo">
					<img src="/static/images/allright.jpg">
					<p>All riiight!</p>

					<span class="post-info">Posted by <span class="author">Bob</span></span>
					<span class="dislike">♥</span>
					<article class="grumbl-author-photo" style="background: url('/static/images/default.png') center center no-repeat; background-size: cover;">
					</article>
				</section> -->


			</div>
		</div>
	</div>
{% endblock %}