{% extends 'base-template.html' %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				{% include 'navbar-template.html' with stream='active' placeholder='search your stream...' search_action='search-stream' %}
			</div>

			<div class="col-md-9">

				

				{% for field in form %}
					{% for error in field.errors %}
					<section class="panel panel-default panel-grumblr panel-message">
						<span class="glyphicon glyphicon-exclamation-sign"></span> {{error}}
					</section>
					{% endfor %}
				{% endfor %}

				<section class="panel panel-default panel-grumblr panel-grumbl grumbl-text">
					{{ text_post.text }}
				</section>


				<section class="panel panel-default panel-grumblr panel-form">
					<form action="{% url 'comment' comment_redirect user_id text_post.id %}" method="post">
						{% for field in form.visible_fields %}
							{{field.label_tag}}
							{{field}}
						{% endfor %}

						{% for field in form.hidden_fields %}
							{{field}}
						{% endfor %}

						{% csrf_token %}
						<input class="btn-post btn-submit" type="submit" value="Post Comment">
					</form>
				</section>

			</div>		
		</div>
	</div>
{% endblock %}