{% extends 'base-template.html' %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				{% include 'navbar-template.html' with edit_profile='active' placeholder='search your stream...' search_action='search-stream' %}
			</div>

			<div class="col-md-9">
				{% for error in errors %}
				<section class="panel panel-default panel-grumblr panel-message">
					<span class="glyphicon glyphicon-exclamation-sign"></span> {{ error }}
				</section>
				{% endfor %}

				<section class="panel panel-default panel-grumblr panel-form">
					
					<form action="{% url 'save-profile-changes' %}" method="post">

						<div class="row">
							<div class="col-md-6">
								<label for="edit-picture">Profile Picture</label>
								<div id="edit-picture" style="background: url('/static/images/default.png') center center no-repeat; background-size: cover;"></div>
							</div>
							<div class="col-md-6">
								<button id="edit-upload-picture" class="btn-edit-profile btn-submit">Upload Picture</button>
							</div>
						</div>
						
						<input type="file" class="input-file-upload hidden" id="edit-upload-picture-hidden" accept="image/*">

						<div class="row">
							<div class="col-md-6">
								<label for="firstname">First Name</label>
								<input type="text" name="firstname" placeholder="{% if user.first_name %}{{ user.first_name }}{% else %}First Name{% endif %}">
							</div>
							<div class="col-md-6">
								<label for="lastname">Last Name</label>
								<input type="text" name="lastname" placeholder="{% if user.last_name %}{{ user.last_name }}{% else %}Last Name{% endif %}">
							</div>
						</div>

						<label for="username">Username</label>
						<input type="text" name="username" placeholder="{{ user }}">

						<label for="email">Email</label>
						<input type="email" name="email" placeholder="{{ user.email }}">

						<label for="location">Location</label>
						<input type="text" name="location" placeholder="{{ user_profile.location }}">

						<label for="about">About</label>
						<textarea name="about" id="edit-about-blurb" placeholder="{{ user_profile.about }}"></textarea>
<!-- 
						<label for="current-password">Current Password</label>
						<input type="text" name="current-password" placeholder="••••••••••••"> -->

						<label for="password-1">New Password</label>
						<input type="text" name="password-1" placeholder="••••••••••••">

						<label for="password-2">Confirm Password</label>
						<input type="text" name="password-2" placeholder="••••••••••••">

						<input class="btn-edit-profile btn-submit" type="submit" value="Save Changes">

						{% csrf_token %}
					</form>
				</section>
			</div>
		</div>
	</div>
{% endblock %}