{% extends 'base-template.html' %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				{% include 'navbar-template.html' with edit_profile='active' placeholder='search your stream...' search_action='search-stream' %}
			</div>

			<div class="col-md-9">
				{% for field in form %}
					{% for error in field.errors %}
					<section class="panel panel-default panel-grumblr panel-message">
						<span class="glyphicon glyphicon-exclamation-sign"></span>{{error}}
					</section>
					{% endfor %}
				{% endfor %}

				<section class="panel panel-default panel-grumblr panel-form">
					
					<form action="{% url 'edit-profile' %}" method="post">
						<div class="row">
							<div class="col-md-6">
								<label for="edit-picture">Profile Picture</label>
								<div id="edit-picture" style="background: url('/static/images/default.png') center center no-repeat; background-size: cover;"></div>
							</div>
							<div class="col-md-6">
								<button id="edit-upload-picture" class="btn-edit-profile btn-submit">Upload Picture</button>
							</div>
						</div>
						
						<input type="file" class="input-file-upload hidden" id="edit-upload-picture-hidden" accept="image/*">

						<div class="row">
							{% for field in form.visible_fields %}
							
								{% if field.label == 'First Name' or field.label == 'Last Name' %}
									<div class="col-md-6">
										{{field.label_tag}}
										{{field}}
									</div>
								{% endif %}
							{% endfor %}
						</div>

						{% for field in form.visible_fields %}
							{% if field.label != 'First Name' and field.label != 'Last Name' %}
								{{field.label_tag}}
								{{field}}
							{% endif %}
						{% endfor %}


						{% for field in form.hidden_fields %}
							{{field}}
						{% endfor %}

						{% csrf_token %}
						<input class="btn-edit-profile btn-submit" type="submit" value="Save Changes">
					</form>
				</section>
			</div>
		</div>
	</div>
{% endblock %}