{% extends 'base-template.html' %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				{% include 'navbar-template.html' with home='active' placeholder='search your grumbls...' search_action='search-home' %}
			</div>

			<div class="col-md-9">
				{% for error in errors %}
				<section class="panel panel-default panel-grumblr panel-message">
					<span class="glyphicon glyphicon-exclamation-sign"></span> 
					{{error}}
				</section>
				{% endfor %}

				{% include 'post-tools-template.html' %}

				{% include 'pagenav-template.html' %}

				{% for text_post in text_posts %}
				<section class="panel panel-default panel-grumblr panel-grumbl grumbl-text">
					{{ text_post.text }}
					{% for dislike in text_post.dislikes.all %}
						{{dislike}}
					{% endfor %}

					{% for dislike in user.dislikes.all %} 
						{% if dislike.post.id == text_post.id %}
							HELLO
						{% endif %}
					{% endfor %}
					<span class="dislike"><a href="{% url 'dislike' dislike_redirect user.id text_post.id %}">♥</a></span>
				</section>
				{% endfor %}
				
				<!-- <section class="panel panel-default panel-grumblr panel-grumbl grumbl-photo">
					<img src="/static/images/family2.jpg">
					<p>The Belcher family. From left to right: me, Louise, Linda, Tina, and Gene.</p>
					<span class="dislike">♥</span>
				</section> -->
			</div>		
		</div>
	</div>
{% endblock %}