{% extends "base-template.html" %}
{% block content %}
	<header>
		<h1><a href="/">grumblr</a></h1>
	</header>

	<section class="panel panel-default panel-grumblr panel-login-register">
		<div class="forms">
			{% for error in errors %}
			<p class="footnote message error-message">
				{{error}}
			</p>
			{% endfor %}

			{% if reset_message %}
			<p class="footnote message reset-message">
				{{reset_message}}
			</p>
			{% endif %}
			<form action="/reset" method="post" id="form-reset" class="form-register-login">
				<label for="email">Username</label>
				<input type="email" name="email" placeholder="example@gmail.com">

				<input id="submit-reset" class="btn-login-register btn-submit" type="submit" value="Reset Password">

				{% csrf_token %}
			</form>
		</div>
	</section>
{% endblock %}