{% extends "base-template.html" %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				{% include "navbar-template.html" with stream='active' placeholder='search your stream...' search_action='search-stream' %}
			</div>

			<div class="col-md-9">
				<div class="row">
					<div class="col-md-6">
						<div class="previous-page">
							<span class="glyphicon glyphicon-arrow-left"></span> <span class="page-label">Previous Page</span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="next-page">
							<span class="page-label">Next Page</span>
							<span class="glyphicon glyphicon-arrow-right"></span>
						</div>
					</div>
				</div>

				{% for error in errors %}
				<section class="panel panel-default panel-grumblr panel-message">
					<span class="glyphicon glyphicon-exclamation-sign"></span> {{ error }}
				</section>
				{% endfor %}

				{% for text_post in text_posts %}
				<section class="panel panel-default panel-grumblr panel-grumbl panel-grumbl-stream grumbl-text">
					{{ text_post.text }}

					<span class="post-info">Posted by <span class="author"><a href="/profile/{{text_post.user.id}}">{{ text_post.user }}</a></span></span>
					<!-- <span class="glyphicon glyphicon-plus"></span> -->
					<span class="dislike">♥</span>
					<article class="grumbl-author-photo" style="background: url('/static/images/default.png') center center no-repeat; background-size: cover;">
					</article>
				</section>
				{% endfor %}

				<!-- <section class="panel panel-default panel-grumblr panel-grumbl panel-grumbl-stream grumbl-photo">
					<img src="/static/images/allright.jpg">
					<p>All riiight!</p>

					<span class="post-info">Posted by <span class="author">Bob</span></span>
					<span class="dislike">♥</span>
					<article class="grumbl-author-photo" style="background: url('/static/images/default.png') center center no-repeat; background-size: cover;">
					</article>
				</section> -->


			</div>
		</div>
	</div>
{% endblock %}