<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>grumblr</title>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet/less" type="text/css" href="/static/css/style.less">
</head>
<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<nav class="panel panel-default panel-grumblr sidebar-nav">
					<div class="search-stream">
						<form action="/search-stream" method="get">
							<span class="glyphicon glyphicon-search search-icon"></span>
							<input type="text" name="keyword" id="search-input" placeholder="search your stream...">
						</form>
					</div>

					<ul class="nav-list">
						<li>
							<a href="/">
								<span class="glyphicon glyphicon-home"></span>
								<span class="nav-link">Home</span>
							</a>
						</li>
						<li>
							<a href="/stream">
								<span class="glyphicon glyphicon-list-alt">
								</span>
								<span class="nav-link">Stream</span>
							</a>
						</li>
						<li>
							<a href="/profile/{{user.id}}">
								<span class="glyphicon glyphicon-user"></span>
								<span class="nav-link">Profile</span>
							</a>
						</li>
						<li class="active">
							<a href="/edit-profile">
								<span class="glyphicon glyphicon-pencil"></span>
								<span class="nav-link">Edit Profile</span>
							</a>
						</li>
						<li>
							<a href="/logout">
								<span class="glyphicon glyphicon-log-out"></span>
								<span class="nav-link">Logout</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>

			<div class="col-md-9">
				{% for error in errors %}
				<section class="panel panel-default panel-grumblr panel-message">
					<span class="glyphicon glyphicon-exclamation-sign"></span> {{ error }}
				</section>
				{% endfor %}

				<section class="panel panel-default panel-grumblr panel-form">
					
					<form action="/save-profile-changes" method="post">

						<div class="row">
							<div class="col-md-6">
								<label for="edit-picture">Profile Picture</label>
								<div id="edit-picture" style="background: url('/static/images/default.png') center center no-repeat; background-size: cover;"></div>
							</div>
							<div class="col-md-6">
								<button id="edit-upload-picture" class="btn-edit-profile btn-submit">Upload Picture</button>
							</div>
						</div>
						
						<input type="file" class="input-file-upload hidden" id="edit-upload-picture-hidden" accept="image/*">

						<div class="row">
							<div class="col-md-6">
								<label for="firstname">First Name</label>
								<input type="text" name="firstname" placeholder="{% if user.first_name %}{{ user.first_name }}{% else %}First Name{% endif %}">
							</div>
							<div class="col-md-6">
								<label for="lastname">Last Name</label>
								<input type="text" name="lastname" placeholder="{% if user.last_name %}{{ user.last_name }}{% else %}Last Name{% endif %}">
							</div>
						</div>

						<label for="username">Username</label>
						<input type="text" name="username" placeholder="{{ user }}">

						<label for="email">Email</label>
						<input type="email" name="email" placeholder="{{ user.email }}">

						<label for="location">Location</label>
						<input type="text" name="location" placeholder="{{ user_profile.location }}">

						<label for="about">About</label>
						<textarea name="about" id="edit-about-blurb" placeholder="{{ user_profile.about }}"></textarea>

						<!-- <label for="current-password">Current Password</label>
						<input type="text" name="current-password" placeholder="••••••••••••">

						<label for="new-password">New Password</label>
						<input type="text" name="password-1" placeholder="••••••••••••">

						<label for="confirm-password">Confirm Password</label>
						<input type="text" name="password-2" placeholder="••••••••••••"> -->

						<input class="btn-edit-profile btn-submit" type="submit" value="Save Changes">

						{% csrf_token %}
					</form>
				</section>
			</div>
		</div>
	</div>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<script src="static/js/vendor/util.js"></script>
	<script src="static/js/src/scripts.js"></script>
	<script src="static/js/vendor/less.js"></script>
	<script type="text/javascript">
	  less.watch();
	</script>
	
</body>
</html>