<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>grumblr</title>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="/static/css/style.css"> -->
	<link rel="stylesheet/less" type="text/css" href="/static/css/style.less">
</head>
<body>

	<header>
		<h1><a href="/">grumblr</a></h1>
	</header>

	<section class="panel panel-default panel-grumblr panel-login-register">
		<div class="buttons">
			{% if resetMessage %}
			<p class="footnote message reset-message">
				{{resetMessage}}
			</p>
			{% endif %}

			{% for error in errors %}
			<p class="footnote message error-message">
				{{error}}
			</p>
			{% endfor %}
			
			<button id="btn-register" class="btn-login-register">Register</button>
			<div class="or-divider">
				<div class="line line-left"></div>
				<div class="or">or</div>			
				<div class="line line-right"></div>
			</div>
			<button id="btn-login" class="btn-login-register">Login</button>
			<div id="btn-reset" class="footnote"><span id="reset-text">Forgot your password?</span></div>
		</div>
		<div class="forms">
			<form action="/register" method="post" id="form-register" class="form-register-login hidden">
				<label for="username">Username</label>
				<input type="text" name="username" placeholder="username">

				<label for="email">Email</label>
				<input type="email" name="email" placeholder="example@gmail.com">

				<label for="password-1">Password</label>
				<input type="password" name="password-1" placeholder="••••••••••••">

				<label for="password-2">Confirm Password</label>
				<input type="password" name="password-2" placeholder="••••••••••••">

				<input id="submit-register" class="btn-login-register btn-submit" type="submit" value="Register">

				{% csrf_token %}
			</form>

			<form action="/login" method="post" id="form-login" class="form-register-login hidden">
				<label for="username">Username</label>
				<input type="text" name="username" placeholder="username">

				<label for="password">Password</label>
				<input type="password" name="password" placeholder="••••••••••••">

				<input id="submit-login" class="btn-login-register btn-submit" type="submit" value="Login">

				{% csrf_token %}
			</form>

			<form action="/reset" method="post" id="form-reset" class="form-register-login hidden">
				<label for="email">Username</label>
				<input type="email" name="email" placeholder="example@gmail.com">

				<!-- <button id="submit-reset" class="btn-login-register btn-submit">Reset Password</button> -->
				<input id="submit-reset" class="btn-login-register btn-submit" type="submit" value="Reset Password">

				{% csrf_token %}
			</form>
		</div>
	</section>

	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<script src="static/js/vendor/util.js"></script>
	<script src="static/js/src/scripts.js"></script>
	<script src="static/js/vendor/less.js"></script>
	<script type="text/javascript">
	  less.watch();
	</script>
	
</body>
</html>