<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>grumblr</title>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet/less" type="text/css" href="/static/css/style.less">
</head>
<body>
	

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default panel-grumblr sidebar-profile">
					<div class="profile-picture" style="background: url('/static/images/default.png') center center no-repeat; background-size: cover;">
					</div>

					<ul class="profile-about">
						<li>
							{% if user.first_name %}
								<h2 class="profile-name">{{ user.first_name }}</h2>
							{% else %}
								<h2 class="profile-name">{{ user }}</h2>
							{% endif %}
						</li>
						<li>
							<h3 class="profile-username">{{ user }}</h3>
						</li>
						<li>
							<h3 class="profile-location">
								<span class="glyphicon glyphicon-map-marker"></span>
								{% if user.location %}
									{{ user.location }}
								{% else %}
									The Universe
								{% endif %}
							</h3>
						</li>
						{% if user.about %}
						<li>
							<p class="profile-blurb">					{{ user.about }}
							</p>
						</li>
						{% endif %}
					</ul>

					<div class="profile-divider"></div>

					<ul class="profile-stats">
						<li><span class="profile-number">47</span> followers</li>
						<li><span class="profile-number">10</span> following</li>
						<li><span class="profile-number">6</span> grumbls</li>
						<li><span class="profile-number">203</span> dislikes <span class="glyphicon glyphicon-heart"></span></li>
					</ul>

					<div class="profile-divider"></div>

					<div class="search-stream">
						<span class="glyphicon glyphicon-search search-icon"></span>
						<input type="text" id="search-input" placeholder="search stream...">
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="profile-action profile-follow">
								<span class="glyphicon glyphicon-plus"></span>
								follow
							</div>
						</div>
						<div class="col-md-6">
							<div class="profile-action profile-block">
								<span class="glyphicon glyphicon-ban-circle"></span>
								block
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-9">
				<div class="row">
					<div class="col-md-6">
						<div class="previous-page">
							<span class="glyphicon glyphicon-arrow-left"></span> <span class="page-label">Previous Page</span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="next-page">
							<span class="page-label">Next Page</span>
							<span class="glyphicon glyphicon-arrow-right"></span>
						</div>
					</div>
				</div>

				{% if text_posts|length > 0 %}
					{% for text_post in text_posts %}
					<section class="panel panel-default panel-grumblr panel-grumbl grumbl-text">
						{{ text_post.text }}
						<span class="dislike">♥</span>
					</section>
					{% endfor %}
				{% else %}
					<section class="panel panel-default panel-grumblr panel-message">
						Looks like {{ user }} has nothing to grumble about.
					</section>
				{% endif %}

				<!-- <section class="panel panel-default panel-grumblr panel-grumbl grumbl-text">
					Gotta finish this web apps homework... ah grumble bumble rawr.
					<span class="dislike">♥</span>
				</section> -->

				<!-- <section class="panel panel-default panel-grumblr panel-grumbl grumbl-photo">
					<img src="/static/images/burger.jpg">
					<p>I make burgers. Though not this one specifically. It's just a photo from Google.</p>
					<span class="dislike">♥</span>
				</section> -->

			</div>
		</div>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<script src="static/js/vendor/util.js"></script>
	<script src="static/js/src/scripts.js"></script>
	<script src="static/js/vendor/less.js"></script>
	<script type="text/javascript">
	  less.watch();
	</script>
	
</body>
</html>