<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>grumblr</title>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet/less" type="text/css" href="/static/css/style.less">
</head>
<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<nav class="panel panel-default panel-grumblr sidebar-nav">
					<div class="search-stream">
						<span class="glyphicon glyphicon-search search-icon"></span>
						<input type="text" id="search-input" placeholder="search your stream...">
					</div>

					<ul class="nav-list">
						<li>
							<a href="/">
								<span class="glyphicon glyphicon-home"></span>
								<span class="nav-link">Home</span>
							</a>
						</li>
						<li class="active">
							<a href="/stream">
								<span class="glyphicon glyphicon-list-alt">
								</span>
								<span class="nav-link">Stream</span>
							</a>
						</li>
						<li>
							<a href="/profile/{{user.id}}">
								<span class="glyphicon glyphicon-user"></span>
								<span class="nav-link">Profile</span>
							</a>
						</li>
						<li>
							<a href="/edit-profile">
								<span class="glyphicon glyphicon-pencil"></span>
								<span class="nav-link">Edit Profile</span>
							</a>
						</li>
						<li>
							<a href="/logout">
								<span class="glyphicon glyphicon-log-out"></span>
								<span class="nav-link">Logout</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>

			<div class="col-md-9">
				<div class="row">
					<div class="col-md-6">
						<div class="previous-page">
							<span class="glyphicon glyphicon-arrow-left"></span> <span class="page-label">Previous Page</span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="next-page">
							<span class="page-label">Next Page</span>
							<span class="glyphicon glyphicon-arrow-right"></span>
						</div>
					</div>
				</div>

				{% for text_post in text_posts %}
				<section class="panel panel-default panel-grumblr panel-grumbl panel-grumbl-stream grumbl-text">
					{{ text_post.text }}

					<span class="post-info">Posted by <span class="author"><a href="/profile/{{text_post.user.id}}">{{ text_post.user }}</a></span></span>
					<!-- <span class="glyphicon glyphicon-plus"></span> -->
					<span class="dislike">♥</span>
					<article class="grumbl-author-photo" style="background: url('/static/images/default.png') center center no-repeat; background-size: cover;">
					</article>
				</section>
				{% endfor %}

				<!-- <section class="panel panel-default panel-grumblr panel-grumbl panel-grumbl-stream grumbl-photo">
					<img src="/static/images/allright.jpg">
					<p>All riiight!</p>

					<span class="post-info">Posted by <span class="author">Bob</span></span>
					<span class="dislike">♥</span>
					<article class="grumbl-author-photo" style="background: url('/static/images/default.png') center center no-repeat; background-size: cover;">
					</article>
				</section> -->


			</div>
		</div>
	</div>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<script src="static/js/vendor/util.js"></script>
	<script src="static/js/src/scripts.js"></script>
	<script src="static/js/vendor/less.js"></script>
	<script type="text/javascript">
	  less.watch();
	</script>
	
</body>
</html>